body {
    font-family: Montserrat;
  }

  .main {
    background-image: url(images/imgpro.webp) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
 
 .btn {
     background-color: #ddd;
     border: none;
     color: black;
     
     text-align: center;
     font-size: 16px;
     margin: 4px 2px;
     transition: 0.3s;
   }
   
   .btn:hover {
     background-color: #020529;
     color: rgb(161,170,216);
   }
 
   .dropbtn {
     background-color: #37B6FF;
     color: white;
    
     font-size: 16px;
     border: none;
   }
   
   /* The container <div> - needed to position the dropdown content */
   .dropdown {
     position: relative;
     display: inline-block;
   }
   
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   /* Links inside the dropdown */
   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   
   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {background-color: #ddd;}
   
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-content {display: block;}
   
   /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {background-color: #020529;}

 
  
  .text {
    background-color: rgb(80,64,58);
    color: black;
    font-size: 7vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
   
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 35%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }


  /* new form */

  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
   
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(238, 239, 244, .3);
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(238, 239, 244, .3);
  outline: none;
}

/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for all buttons */
 .signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity:1;
} 

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  border: none;
  background-color: #f44336;
  
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}